<h1>{{title}}</h1>
<p>GAS does not lend itself to the pocket, but to the imagination.  Here you can manage your path to bankruptcy and creativity with a simple inventory database.  Design and manage your setup conveniently from your web browser.  Login or Signup to get started.</p>